{% extends "base.html" %}
{% block content %}
<a href="/create">Add New Item</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
            <a href="/update/{{ item.id }}">Edit</a>
            <a href="/delete/{{ item.id }}" onclick="return confirm('Delete this item?');">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}